@use "variables" as *;

.checkbox__container {
    display: block;
    position: relative;
    height: 82px;
    &__toggle {
        display: none;
    }
    &:checked ~ .checkbox__path {
        .path--top {
            stroke-dashoffset: 0px;
            stroke: $color-on;
        }
        .path--bottom {
            stroke-dasharray: 14px 360px;
            stroke-dashoffset: 0px;
            stroke: $color-on;
        }
    }
}