@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Chakra+Petch:wght@400;600&family=Urbanist:wght@400;600&display=swap');

$fonts-title: 'Bruno Ace SC', cursive;
$fonts-subtitle: 'Chakra Petch', sans-serif;
$fonts-paragraph: 'Urbanist', sans-serif;

$primary: #054e3f;
$secondary: #F9F6EE;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $primary;
    max-width: 960px;
    margin: 30px auto;
}

h1 {
    text-align: center;
    padding:0.5rem;
    background: linear-gradient(to right, #f29305 0%, #0521f2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $fonts-title;
    font-size: 2rem;
}

p {
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: $fonts-paragraph;
    font-size: 1.3rem;
    color: #b3b3b3;
}

video {
    margin: 1rem;
    width: 100%;
    
}

ul {
    & li {
        list-style:none;
    }
    & a {
        text-decoration: none;
        font-family: $fonts-subtitle;
        font-size: 1.3rem;
        padding: 0.5rem;
        margin: 0.5rem;
        line-height: 2.2rem;
        font-weight: bold;
        color: #c1790d;
    }
    
    & a:hover {
        border-radius: 10px;
        background-color: #b3b3b3;
    }
}