* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
    height: 800px;
}

/* 
    Linear-Gradient
    # Need to define at least two color stops
    # Can set direction (top, left, right, and bottom)
    # If you want more control over the direction of the gradient you should use angles.
    # To create effects it is possible to use transparency, for that use the rgba() function to define the color stops.
    # To repeat the same setting just use repeating-linear-gradient()
*/

.gradient__one {
    display: grid;
    place-items: center;
    
}

// h1 { 
//     background-image: linear-gradient(to right, red, rgb(5, 5, 33), orange);
//     background-clip: text;
//     color: transparent;
// }
